// Styling for bare elements

* {
	max-width: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Cormorant', serif;
	margin-bottom: 20px;
	
	&:first-child {
		margin-top: 0;
	}
}

hr {
	width: 75%;
	border: 0;
	color: black;
	background-color: black;
	height: 2px;
	margin: 100px auto;
}

p {
	font-size: .8rem;
	line-height: 2.25;
}

ol {
	font-size: .8rem;
	line-height: 1.75;
}

ul {
	font-size: .8rem;
	line-height: 1.75;
	
	li {
		list-style-type: square;
	}
}