// Styling for bare elements

* {
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 0;
}

button {
	background-color: #E6965B;
	border-radius: 5px;
	padding: 10px 20px;
	//box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border: 0;
	margin: 0 20px;
	cursor: pointer;
	color: #cfd8dc;
    background: #546e7a;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Abel', sans-serif;
	margin-bottom: 20px;
	
	&:first-child {
		margin-top: 0;
	}
}

hr {
	width: 75%;
	border: 0;
	color: black;
	background-color: black;
	height: 2px;
	margin: 100px auto;
}

p {
	font-size: .9rem;
	line-height: 2.25;
}

section {
	
	&.white {
		background-color: white;
	}
	
	&.black {
		background-color: black;
		color: white;
	}
}

ol {
	font-size: .8rem;
	line-height: 1.75;
}

ul {
	font-size: .8rem;
	line-height: 1.75;
	
	li {
		list-style-type: square;
	}
}