.container {
	
	*:first-child {
		margin-top: 0;
	}
	
	*:last-child {
		margin-bottom: 0;
	}
}

.empty {
	height: 200vh;
}

.hero {
	height: 650px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	//margin-bottom: 100px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.pagination {
	position: sticky;
	top: 250px;
	
	.plate {
		transform: translateY(-50%);
		
		svg {
			width: 100px;
			height: 100px;
		}
	}
}

.reference {
	margin-left: -1.5em;
	counter-reset: list;
	
	li {
		list-style: none;
		position: relative;
		padding-left: 1em;
		
		&:before {
			counter-increment: list;
			content: "[" counter(list) "] ";
			position: absolute;
			left: -1.4em;
		}
	}
}

@mixin panelBackground {
	padding: 20px;
	position: relative;
	z-index: 100;
	background-color: rgba(255, 255, 255, .9);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 3px;
	
	@include desktop {
		padding: 50px;
	}
}

.panel {
	@include panelBackground;
	
}

.reading {
	@include panelBackground;
	margin-top: 200px;
	margin-bottom: 200px;
	
	&.intro {
		margin-top: 0;
	}
	
	&.left {
		margin-left: 5%;
	}
	
	&.center {
		margin-left: auto;
		margin-right: right;
	}
	
	&.right {
		margin-right: 5%;
	}
}