.cumulative-plastics {
	padding: 50px 15px;
	
	h2 {
		text-align: center;
	}
    #play-button {
		position: absolute;
		top: 140px;
		left: 50px;
		background: #f08080;
		padding-right: 26px;
		border-radius: 3px;
		border: none;
		color: white;
		margin: 0;
		padding: 0 12px;
		width: 60px;
		cursor: pointer;
		height: 30px;
	  }
  
	  #play-button:hover {
		background-color: #696969;
	  }    
}