.large-graphic {
	width: 100%;
	max-width: 1600px;
	padding: 0 15px;
	
	.horizontal-bar {
		margin: 75px 0;
	}
}

.horizontal-bar {
	width: 100%;
	border: 1px solid black;
	margin: 100px 0 0 0;
	
	.title {
		font-family: 'Cormorant', serif;
		font-size: 28px;
		font-weight: 600;
	}
	
	.x-axis-label, .y-axis-label {
		font-family: 'Cormorant', serif;
		font-size: 14px;
		font-weight: 600;
	}
	
	.tick {
		
		text {
			//transform: translateX(-5px); // give y-axis lables more space
		}
	}
}