.horizontal-bar {
	border: 1px solid black;
	margin: 20px 0;
	
	.title {
		font-family: 'Cormorant', serif;
		font-size: 28px;
		font-weight: 600;
	}
	
	.x-axis-label, .y-axis-label {
		font-family: 'Cormorant', serif;
		font-size: 14px;
		font-weight: 600;
	}
	
	rect {
		height: 5px;
	}
}