.map {
	
	&.fullscreen-map {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: -100;
		
		svg {
			border: 0;
			height: 100vh;
		}
		
		.veil {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: background-color 600ms ease;
			
			&.active {
				background-color: white;
			}
		}
	}
	
	svg {
		border: 1px solid black;
	}
}