.geo-vis {
	padding: 60px 0;
	background-color: black;
	color: white;
	text-align: center;
	
	h2 {
		text-align: center;
		padding: 0 15px;
		margin-bottom: 50px;
	}
	
	.fullscreen-map {
		max-width: 100%;
		width: 100%;
		height: 100vh;
		background-color: black;
		border: 0;
		
		.leaflet-control-attribution {
			display: none !important;
		}
	}
}