.outro {
    position: relative;
padding-top:200px;
background-color: black;
    .hero2 {
        position: relative;
        background-color: white;
        height: 3400px;
        max-width:100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        padding-bottom:1000px;

        .gradient-black2 {
            position: absolute;
            height: 600px;
        
            width: 100%;
            background: linear-gradient(0deg,  rgba(0, 0, 0, 0) 0%, black 100%);
            z-index: 1;
        }

        .bag-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(../img/bags.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
        }

        .text1{
            position: relative;
            top:200px;
            text-align: center;
            color: white;
        
        }
        
        .text2{
            position: relative;
            top: 1200px;
            text-align: center;
            color: white;
        
        }

        .text3{
            position: relative;
            top: 2400px;
            text-align: center;
            color: white;
        
        }
        
        .gradient-orange {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            height: 200px;
            background: linear-gradient(0deg, rgba(252,169,60,1) 0%, rgba(255,255,255,0) 100%);
        }

    }  
    .lastimg{
        position:absolute;
        width: 100%;
    }
    .lastimg img {
        padding-top:150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 900px
    }
}

.references {
    margin-top:0;
    padding-top:1200px;
    background-color:#FCA93C;
    color: rgb(80, 80, 80);
}