@use '../responsive' as *;
@use '../mixins' as *;

.pie-holder {
	
	.control {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.eat-pie {
		display: flex;
		justify-content: center;
		position: relative;
		width: 100%;
		
		polyline {
			fill: none;
			stroke-width: 2;
			stroke: black;
		}
	}
}

.input-stepper {
	height: 58%;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
	
	label {
		font-size: 1.25rem;
		text-align: center;
		display: block;
		
		@include desktop {
			font-size: 1.75rem;
		}
	}
	
	.input-items {
		display: flex;
		justify-content: center;
		width: 100%;
		
		input[type="number"] {
			width: 125px;
			text-align: center;
			appearance: none;
			-moz-appearance: textfield;
			
			@include tablet {
				width: 275px;
			}
		}
		
		input[type="number"]::-webkit-outer-spin-button,
		input[type="number"]::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	
		button, input {
			@include disable-highlight;
			font-size: 2.5rem;
			font-weight: bold;
			text-align: center;
			border: 0;
			background: none;
			
			@include tablet {
				font-size: 4rem;
			}
			
			@include tablet {
				font-size: 6rem;
			}
			
			&:focus {
				outline: none;
			}
		}
		
		button {
			cursor: pointer;
			transform: scale(1.25);
			
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}