.plastic-longevity {
	margin: 100px auto;
	
	.two-column {
		overflow: visible;
	}
	
	.stats {
		width: 60%;
		padding-right: 150px;
		
		ul {
			font-size: 18px;
			font-weight: bold;
			width: 100%;
			padding-left: 100px;
			margin-bottom: 50px;
			
			li {
				display: flex;
				justify-content: space-between;
				margin-bottom: 10px;
				
				span {
					font-weight: normal;
				}
			}
		}
	}
	
	.graphic {
		width: 30%;
		
		svg {
			overflow: visible;
		}
	}
	
	canvas {
		width: 100%;
	}	
}

.use-ratio {
	padding: 0 15px;
	
	.single-dot {
		margin-bottom: 10px;
	}
	
	svg {
		margin-right: 4px;
		
		circle {
			fill: black;
		}
		
		line {
			stroke:black;
			stroke-width: 1;
		}
	}
	
	.canvas-holder {
		position: relative;
		
		.message {
			position: sticky;
			background-color: rgba(255, 255, 255, 0.8);
			padding: 5px;
			left: 21px;
			top: 6px;
			width: 280px;
			height: 34px;
			margin-bottom: -40px;
		}
		
		canvas {
			display: block;
		}
	}
}