.plastic-longevity {
	margin: 100px auto;
	
	.selector {
		padding: 0 15px;
		text-align: center;
		margin-bottom: 50px;
	}
	
	.two-column {
		overflow: visible;
	}
	
	.stats {
		width: 60%;
		padding-right: 150px;
		
		ul {
			font-size: 18px;
			font-weight: bold;
			width: 100%;
			padding-left: 100px;
			margin-bottom: 50px;
			
			li {
				display: flex;
				justify-content: space-between;
				margin-bottom: 10px;
				
				span {
					font-weight: normal;
				}
			}
		}
		
		.generation-glyphs {
			overflow: auto;
			
			.frame {
				overflow: hidden;
				float: left;
				
				img {
					max-width: 1000px;
				}
			}
		}
	}
	
	.graphic {
		width: 30%;
		
		svg {
			overflow: visible;
		}
	}
	
	canvas {
		width: 100%;
	}	
}

.use-ratio {
	padding: 0 15px;
	
	.single-dot {
		margin-bottom: 10px;
	}
	
	svg {
		margin-left: 1px;
		margin-right: 4px;
		
		circle {
			fill: black;
		}
		
		line {
			stroke:black;
			stroke-width: 1;
		}
	}
	
	.canvas-holder {
		position: relative;
		
		.message {
			position: sticky;
			background-color: rgba(255, 255, 255, 1);
			padding: 5px;
			$height: 34px;
			$width: 280px;
			$rightOffset: $width + 23px;
			left: calc(100% - #{$rightOffset});
			top: 400px;
			width: $width;
			height: $height;
			margin-bottom: -40px;
		}
		
		canvas {
			display: block;
		}
	}
}