$background: white;
$foreground: black;

.plastic-longevity {
	@include disable-highlight;
	background-color: $background;
	color: $foreground;
	padding: 100px 15px;
	margin-top: 800px;
	
	.selector {
		padding: 0 15px;
		text-align: center;
		margin-bottom: 50px;
		
		h2 {
			margin-bottom: 40px;
		}
		
		p {
			margin-left: auto;
			margin-right: auto;
			max-width: 1000px;
		}
		
		.material {
			margin-top: 50px;
			font-size: 22px;
			padding: 5px 10px;
		}
	}
	
	.two-column {
		overflow: visible;
		height: 300px;
		
		@include desktop {
			width: 75%;
			margin: auto;
		}
	}
	
	.graphic {
		width: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
		
		img, svg {
			height: 100%;
			
			&.coffee {
				max-width: 250px;
			}
		}
	}
	
	.stats {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		ul {
			font-size: 18px;
			font-weight: bold;
			width: 100%;
			padding-left: 100px;
			
			li {
				display: flex;
				justify-content: space-between;
				margin-bottom: 10px;
				
				span {
					font-weight: normal;
				}
			}
		}
	}
}

.bar {
	//width: 60%;
	margin: 100px auto 0 auto;
	
	.generation-glyphs {
		padding-left: 25px;
		overflow: auto;
		
		.frame {
			overflow: hidden;
			float: left;
			
			img {
				max-width: 1000px;
			}
		}
	}
	
	.longevity {
		
		rect, text {
			fill: $foreground;
		}
		path, line {
			stroke: $foreground;
		}
	}
}

.use-ratio {
	margin: 50px 0;
	height: 80vh;
	display: flex;
	justify-content: space-between;
	position: relative;
	
	.column-left {
		width: 100px;
		margin-right: 10px;
		
		.mini-map {
			opacity: .7;
			position: relative;
			background-color: #ccc;
			height: 100%;
			
			.dragger {
				display: block;
				background: #D2323A;
				opacity: .5;
				height: 100px;
				cursor: grab;
				width: 100%;
			}
		}
	}
	
	.column-right {
		width: calc(100% - 80px);
		
		.baseline {
			height: 30px;
			background-color: white;
			
			svg {
				margin-left: 1px;
				margin-right: 4px;
				
				circle {
					fill: $foreground;
				}
				
				line {
					stroke: $foreground;
					stroke-width: 1;
				}
			}
		}
		
		.unit-vis-viewport {
			position: relative;
			overflow-y: scroll;
			height: calc(100% - 30px);
			
			.message {
				position: sticky;
				text-align: right;
				top: 0;
				left: 0;
				
				span {
					background-color: white;
					padding: 10px;
					display: inline-block;
					margin-right: 6px;
					margin-top: 6px;
					position: absolute;
					right: 0;
				}
			}
			
			.canvas-holder {
				
				canvas {
					display: block;
					height: 1200px;
				}
				
				.year-indicator {
					font-size: 1.5rem;
					text-align: center;
					margin: 10px 0;
				}
			}
		}
		
		.count {
			position: absolute;
			bottom: -10px;
			padding-left: 50px;
			
			.number	{
				opacity: .1;
				font-size: 8rem;
				line-height: normal;
				margin-right: 40px;
				
				@include desktop-large {
					font-size: 12rem;
				}
			}
			
			.caption {
				padding: 5px 8px;
				opacity: 0;
				font-size: 1rem;
				color: #666;
				background-color: rgba(200, 200, 200, .5);
			}
		}
	}
}