.projections {
	background-color: black;
	color: white;
	padding: 300px 15px;
	
	h2 {
		margin-bottom: 50px;
	}
	
	p {
		text-align: center;
	}
	
	.plot-container {
		max-width: 1200px;
		margin: 100px auto 0 auto;
		display: block;
		position: relative;
		
		.line-plot-description {
			position: absolute;
			left: 0;
			top: 50px;
			width: 40%;
			
			p {
				text-align: left;
			}
		}
		
		.line-graph {
			
			.title {
				font-size: 10px;
			}
			
			text {
				fill: white;
			}
			
			path {
				stroke: white;
			}
			
			.line {
				stroke: none;
			}
			
			.x-axis-label {
				font-size: 10px;
			}
		}
	}
}