.tooltip {
	background-color: white;
	padding: 10px;
	
	h5 {
		margin: 0;
	}
}

.waste-vs-gdp {
	padding: 100px 15px;
}

.scatterplot {
	margin: 0;
	
	svg {
		z-index: 0;
		overflow: visible;
		width: 100%;
		color: black;
		fill: black;
		
		circle {
			opacity: .3;
			stroke-width: 1;
			//stroke: black;
		}
		
		
		.title {
			font-size: 24px;
		}
		
		.label {
			font-size: 22px;
		}
		
		.player {
			position: relative;
			overflow: visible;
			
			text {
				display: none;
				pointer-events: none;
			}
			
			.hover-state {
				position: relative;
				//opacity: 0;
				cursor: pointer;
				
				&:hover+text {
					position: relative;
					display: block;
					z-index: -10;
					position: relative;
					z-index: -1000;
				}
			}
			
			circle {
				position: relative;
				fill: #91DDF2;
				//opacity: .75;
				z-index: 100;
				
				&.top-ranked {
					fill: #1d2c30;
					stroke: #91ddf2;
					stroke-width: 2px;
				}
			}
		}
	}
}