div.sunburst {
	max-width: 1000px;
	display: block;
	margin: 0 auto;
	
	svg {
		width: 100%;
		height: 100%;
		display: block;
		margin: auto;
		overflow: visible;
		
		circle {
			cursor: pointer;
		}
		
		.up-one-level {
			transition: opacity 550ms ease-in;
			opacity: 0;
			
			path {
				pointer-events: none;
				fill: #ccc;
			}
		}
	}
}