@use "sass:color";
@use '../responsive' as *;

.sunburst-component {
	background-color: black;
	padding: 100px 15px;
	
	h2 {
		color: white;
		text-align: center;
		margin-top: 200px;
		// margin-bottom: 300px;
	}
	
	.sunburst {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 0 auto;
		padding: 0 15px;
		
		@include desktop-large {
			padding: 0 50px;
		}
		
		.sunburst-container {
			max-width: 600px;
			flex-grow: 1;
			
			@include desktop-large {
				max-width: 70vh;
			}
			
			svg {
				display: block;
				overflow: visible;
				
				text {
					font-size: 11.5px;
					fill: white;
				}
				
				circle {
					cursor: pointer;
				}
				
				.up-one-level {
					transition: opacity 550ms ease-in;
					opacity: 0;
					
					path {
						pointer-events: none;
						fill: #ccc;
					}
				}
			}
		}
		
		.region-selector {
			flex-basis: 150px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			button {
				display: block;
				width: 100%;
				margin-bottom: 20px;
				font-size: 14px;
				padding: 10px 20px;
				display: block;
				margin: 40px auto 0 auto;
				background-color: #808080;
				border: none;
				color: white;
				min-width: 60px;
				cursor: pointer;
				border-radius: 20px;
				
			&:hover {
				background-color: color.adjust(#808080, $lightness: -8%);
			}
				
				&.active {
					background-color: #FF6C00;
				}
			}
		}
	}
	
	.stats {
		color: white;
		display: flex;
		text-align: center;
		transition: all 250ms ease;
		margin-top: 100px;
		flex-wrap: wrap;
		
		.region {
			border-right: 1px solid white;
			margin: auto;
			flex-grow: 1;
			
			@include desktop-large {

			}
			
			&:last-child {
				border-right: 0;
			}
			
			.percentage {
				font-family: 'Abel', sans-serif;
				margin-bottom: 0;
				font-size: 2rem;
				line-height: .95;
				
				@include desktop {
					font-size: 3rem;
				}
				
				@include desktop-large {
					font-size: 5rem;
				}
			}
			
			.region-name {
				font-family: 'Abel', sans-serif;
				font-size: 1.75rem;
				color: #E6965B;
			}
		}
	}
}